.row-fluid
  - week.each do |date|
    - klass = 'today' if date == @today
    .date.span1{ :class => klass }
      - meal = @meals[date] || Meal.new
      .row-fluid.centered
        = nice_print(date)
      .row-fluid
        = form_for meal do |f|
          = f.text_field :name, :class => 'span12'
          = f.hidden_field :date, :value => date
