/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.today {
  background-color: #fd8;
}
.date {
  font-weight: bold;
  form {
    margin-bottom: 0;
    input {
      border-style: solid;
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 0 !important;
      box-shadow: none !important;
    }
  }
  &.weekday {
    background-color: #df8;
  }
  &:hover form input {
    border-color: #CCC;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  }
}
.centered {
  text-align: center;
}
